<h1>New game</h1>

<div class="container">
  <div class="row">
<ul class="list-inline">
  <% @letters.each do |letter|   %>
    <li class="list-inline-item col-auto p-2 border text-center bg-primary text-white"><%= letter %></li>
  <% end %>
</ul>
  </div>

<p>What is the longest word you can find?</p>

<form action="/score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="letters" value="<%= @letters %>">
  <input type="text" name="word" class="form-control">
  <input type="submit" value="Check word" class="btn btn-primary">
</form>
</div>
